.colourButton {
  background-color: rgb(255, 0, 0);
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  margin: 10px;
}

#buttonWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 20px 20px;
  font: normal 72px / normal "Passero One", Helvetica, sans-serif;

  background-image: linear-gradient(
    to right,
    rgb(118, 227, 231),
    rgb(218, 144, 218),
    rgb(57, 4, 50),
    red
  );
  -webkit-background-clip: text;
  color: transparent;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: rgba(0, 0, 0, 0.296875) 0px 8px 6px;
}
#colourTip {
  margin: 0 auto;
  text-align: center;
}
#colourValue {
  margin: 0 auto;
  text-align: center;
}

#answer {
  margin: 0 auto;
  text-align: center;
}

#reset {
  margin: 50 auto;
  text-align: center;
}

#resetButton {
  background: rgb(214, 133, 230);
  border: 1px solid rgb(63, 13, 60);
  margin: 40px;
  padding: 10px 20px;
  cursor: pointer;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  box-shadow: 0 5px 5px #313131, 0 9px 0 #393939,
    0px 9px 10px rgba(0, 0, 0, 0.4), inset 0px 2px 9px rgba(255, 255, 255, 0.2),
    inset 0 -2px 9px rgba(0, 0, 0, 0.2);
  position: relative;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  margin-right: 20px;
}

#resetButton:active {
  top: 7px;
  box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0, 0, 0, 0.4),
    inset 0px 2px 5px rgba(0, 0, 0, 0.2);
}
